SOAP-REST_Server/src/main/webapp/WEB-INF/wsdl/CustomerDetails.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.ws.purplemagic.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:external="http://generated.ws.purplemagic.com/"
	name="CustomerOrdersService" targetNamespace="http://soap.ws.purplemagic.com/">
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://generated.ws.purplemagic.com/" schemaLocation="CustomerSchema.xsd" />             
        </schema>
	</wsdl:types>

	<wsdl:message name="getCustomerRequest">
		<wsdl:part element="external:getCustomerRequest" name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCustomerResponse">
		<wsdl:part element="external:customer" name="response"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="createCustomerRequest">
		<wsdl:part element="external:customer" name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createCustomerResponse">
		<wsdl:part element="external:customer" name="response"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="CustomerDetailsPortType">
		<wsdl:operation name="getCustomerDetails">
			<wsdl:input message="tns:getCustomerRequest" name="getCustomerRequest"></wsdl:input>
			<wsdl:output message="tns:getCustomerResponse" name="getCustomerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setCustomerDetails">
			<wsdl:input message="tns:createCustomerRequest" name="createCustomerRequest"></wsdl:input>
			<wsdl:output message="tns:createCustomerResponse" name="createCustomerResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CustomerDetailsServiceSoapBinding" type="tns:CustomerDetailsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomerDetails">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getCustomerRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCustomerResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setCustomerDetails">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createCustomerRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createCustomerResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CustomerDetailsService">
		<wsdl:port binding="tns:CustomerDetailsServiceSoapBinding" name="CustomerDetailsPort">
			<soap:address location="http://localhost:8080/soap-rest-server/services/soapCustomerDetails" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>